.App {
  text-align: center;
}

.zoo-open, .zoo-parade, .zoo-fight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33vh;
}

.zoo-fight {
  display: flex;
  justify-content: space-evenly;
}
