:root {
  --parade-background-color: #481D24;
}

.zoo-parade {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 33vh;
  background-color: var(--parade-background-color);
  color: white;
}

.zoo-parade label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.parade {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parade-animals {
  font-size: 3rem;
}

.parade-animals span {
  margin-right: 1rem;
}

.parade-buttons {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.parade button {
  cursor: pointer;
  background-color: #00061c;
  border-radius: 8%;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}